// Put all global scoped components here. For global scss stuff, use globals.module.scss
@use "./variables.module.scss" as var;
@use "./components/roundedButton.module.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: var.$max-width;
  overflow-x: visible;
  margin-left: auto;
  margin-right: auto;
}

body {
  @include var.theme('color', var.$foreground-color);
  @include var.theme('background-color', var.$background-color);
  height: 100vh;
  padding: {
    left: 80px;
    right: 80px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}