$default-padding: 8px;

.root {
  display: grid;
  grid-template-columns: 1fr 60px 1fr;
  grid-template-rows: auto;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  gap: $default-padding;

  .sectionLinks {
    .link {
      padding-right: $default-padding * 2;
    }
  }

  .logo {
    margin-top: 16px;
  }

  .buttonGroup {
    justify-self: end;

    .button {
      background-color: #e0e0e0;
      border: none;
      border-radius: 50px;
      padding: 15px 25px;
      color: #212121;
      margin-left: $default-padding;
    }
  }
}