@use "./variables.module.scss" as var;
@use "./components/roundedButton.module.scss";

.hero {
  display: flex;
  justify-content: space-evenly;
  .heroLeft {
    width: 50%;
    padding: 24px;
    padding: {
      left: 0;
      top: 80px;
    }

    .header {
      font-size: 64px;
      padding-bottom: 18px;
    }

    .blurb {
      padding-bottom: 28px;
    }

    .button {
      @include roundedButton.button(var.$accent-color);
    }
  }

  .heroRight {
    width: 50%;
    max-width: 50%;

    .imagePopout {
      margin-left: 10%;
      .svg {
        max-height: 800px;
        overflow: visible;
        z-index: -1;
        position: relative;
      }
    }
  }
}