@use "./variables.module.scss" as var;
@use "./components/roundedButton.module.scss";

.hero {
  display: flex;
  justify-content: space-evenly;
  max-height: 650px;

  .heroLeft {
    position: relative;
    width: 50%;
    height: auto;
    padding: 24px {
      left: 0;
      top: 80px;
    }

    .header {
      font-size: 64px;
      padding-bottom: 18px;
    }
    .blurb {
      padding-bottom: 28px;
    }
    .button {
      @include roundedButton.button($background-color: var.$accent-color, $font-size: 16px);
    }
    .pillSection {
      bottom: 0;
      margin: {
        bottom: 75px;
        top: 75px;
      }

      .pillRow {
        display: flex;
        padding-bottom: 16px;
      }
    }
  }

  .heroRight {
    width: 50%;
    max-width: 50%;

    .imagePopout {
      margin-left: 10%;

      .svg {
        max-height: 800px;
        overflow: visible;
        z-index: -1;
        position: relative;
      }
    }
  }
}