@use './variables.module.scss' as var;

.root {
  padding-top: 120px;

  .projectsLayout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 24px;
    padding: {
      top: 24px;
      bottom: 100px;
    }
  }

  @media screen and (max-width: var.$mobile-breakpoint) {
    .projectsLayout {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
