@use "sass:color";
@use "../variables.module.scss" as var;

@mixin button($background-color: var.$gray, $color: var.$text-color-dark, $font-size: null) {
  background-color: $background-color;
  color: $color;
  border: none;
  border-radius: 50px;
  padding: 15px 25px;
  font-size: $font-size;
  
  &:hover {
    background-color: color.adjust($color: $background-color, $lightness: -15%);
  }
}

.button {
  @include button;
}