@use '../variables.module.scss' as var;

.root {
  border-radius: 8px;
  padding: 12px 32px;
  width: max-content;
  margin-right: 16px;
  font-size: 20px;

  :first-child {
    padding-right: 8px;
    top: 3px;
    position: relative;
  }

  .text {
    top: -4px;
    position: relative;
  }

  @media screen and (max-width: var.$tablet-breakpoint) {
    padding: 12px 24px;
    margin-right: 12px;

    .text {
      font-size: 17px;
      top: -5px;
    }
  }
}
